<!DOCTYPE html>
<html lang="ja">
	{% include 'partials/head.twig' %}
	<body class="{{body_class}}">
        {% block header %}
            {% include "partials/header.twig" %}
        {% endblock %}
		{% block content %}
			Sorry, no content
		{% endblock %}
        {% block footer %}
            {% include "partials/footer.twig" %}
        {% endblock %}
        {{ function('wp_footer') }}
	</body>
</html>
